<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>

</head>

<body>
  <div class="container">
    <div class="login-form">
      <div class="text">Login</div>
      <div class="form-item">
        <input type="text" placeholder="user name">
        <input type="password" placeholder="password">
      </div>
      <div class="btn">Login</div>
      <div class="btn-back"></div>
    </div>
  </div>

</body>


</html>

